<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/Home/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
  <title>Ntalk - Agenda de contatos</title>
</head>
<body>
  <header>
    <h1>Ntalk</h1>
    <h4>Bem-vindo!</h4>
  </header>
  <section>
    <form action="/entrar" method="POST">
      <input type="text" name="nome" placeholder="Digite seu nome" autocomplete="off">
      <br>
      <input type="text" name="email" placeholder="Digite seu e-mail" autocomplete="off">
      <br>
      <button type="submit">Entrar</button>
    </form>
  </section>
  <footer>
    <p>Ntalk - Agenda de contatos</p>
  </footer>
</body>
</html>